name: Auto Video Creator
on:
  schedule:
    - cron: '0 1 * * *' # 日本時間10時
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg imagemagick
          pip install requests gtts moviepy==1.0.3
      - name: Run script
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py
      - name: Upload Video
        uses: actions/upload-artifact@v2
        with:
          name: daily-video
          path: output.mp4
